services:
  mongodb:
    image: mongo:latest
    container_name: mongodb_db
    ports:
      - "27017:27017"

  backend-api:
    build: ./backend
    container_name: backend_app
    ports:
      - "5000:5000"
    environment:
      - MONGO_URI=mongodb://mongodb:27017/expenseDB
    depends_on:
      - mongodb

  frontend:
    build: ./frontend
    container_name: frontend_app
    ports:
      - "15173:5173" 
    stdin_open: true
    tty: true
    depends_on:
      - backend-api