name: Expense Tracker CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18"

      - name: Build Backend Image
        run: |
          cd backend
          docker build -t expense-backend .

      - name: Build Frontend Image
        run: |
          cd frontend
          docker build -t expense-frontend .
